<%- include("headers.ejs"); %>
<head>
  <link rel="stylesheet" href="/stylesheets/base.css" />
</head>

<body>

  <div class="navbar-container">
    <div class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="/home">Home</a>
        </li>
        <li class="navbar-item">
          <a class=navbar-link href="/home/projects">Projects</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/home/issues">Issues</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/home/users">Users</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/home/reports">Reports</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/login">Logout</a>
        </li>
      </ul>
    </div>
  </div>

</body>
