<%- include('partials/base'); %>

<link rel="stylesheet" href="/stylesheets/login.css" />

<div class="body-container">
 <div class="center">
  <h3>Enter Project Information</h3>
  <br>
  <form method="POST" action="/home/projects">
    <div class="form-group">
      <input name="project_name" type="project_name" class="form-control" id="project_name" placeholder="Project Name" required>
      <input name="username" type="username" class="form-control" id="username" placeholder="Username" required>
      <input name="target_end_date" type="target_end_date" class="form-control" id="target_end_date" placeholder="Target End Date" required>
      <p class="date-message">(Date format YYYY-MM-DD)</p>
    </div>
    <button class="create-btn" type="submit">Create</button>
  </form>
 </div>
</div>
