
<link rel="stylesheet" href="stylesheets/login.css" />

<div class="center">
  <h3>Enter Information to Create New User</h3>
  <br>
  <form method="POST" action="/register">
    <div class="form-group">
      <input name="name" type="name" class="form-control" id="name" placeholder="Name" required>
      <input name="username" type="username" class="form-control" id="username" placeholder="Username" required>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
      <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <button type="submit" class="create-btn">Create Account</button>
  </form>
</div>
