<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/projects.css" />

<div class="body-container">

  <div class="main-container">

  </div>

  <div class="sidebar-container">
    
  </div>

</div>
