h2 {
  padding: 6px;
  background-color: #343a40;
}

h3 {
  padding: 6px;
  background-color: #343a40;
  border-radius: 25px;
}

.project-list {
  list-style-type: none;
  text-align: left;
  font-size: 18px;
}

.project-list-item {
  padding: 6px;
  margin: 6px;
  background-color: #343a40;
  border-radius: 25px;
}

.project-list-link {
  color: white;
  font-size: 24px;
}

.project-list-link:hover {
  color: black;
}



.issue-list {
  list-style-type: none;
  text-align: left;
}

.issue-list-item {
  background-color: #343a40;
  padding: 12px;
  margin-right: 12px;
  border-radius: 25px;
}

.issue-list-link {
  color: white;
  font-size: 18px;
}

.issue-list-link:hover {
  color: red;
}

.issue-status-open {
  color: green;
}

.issue-status-closed {
  color: red;
}


.user-list {
  list-style-type: none;
  text-align: left;
}

.user-list-item {

}

.user-info-link {
  color: white;
  font-size: 18px;
}

.user-info-link:hover{
  color: red;
}

.user-date {

}
