h2 {
  margin-left: 20%;
  padding: 6px;
  background-color: #343a40;
}

h3 {
  margin-left: 20%;
  padding: 6px;
  background-color: #343a40;
  border-radius: 25px;
}

.project-list {
  list-style-type: none;
}

.project-list-item {
  padding: 6px;
  margin: 6px;
  background-color: #343a40;
  border-radius: 25px;
}

.project-list-link {
  color: white;
  font-size: 20px;
}

.project-list-link:hover {
  color: black;
}
