h3 {
  margin: 8px;
  padding: 6px;
  background-color: #343a40;
  border-radius: 25px;
}

h2 {
  padding: 6px;
  margin-top: 16px;
  background-color: #343a40;
}

.main-container {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
}

.home-info {
  margin: 16px;
  font-size: 24px;
}

.home-issue-info {
  margin: 16px;
}

.home-user-info {
  margin: 16px;
  text-align: left;
}

.home-actions {
  margin: 20px;
}

.create-btn {
  background-color: #121212;
  padding: 20px;
}

.create-btn:hover {
  background-color: black;
}

.create-link {
  color: white;
  text-decoration: none;
}

.create-link:hover {
  color: white;
  text-decoration: none;
}
